.header-container{
    background-image: url('../../../Image/banner/bg-slide-3.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.logOut{
    background-image: linear-gradient(#509ee2,#8eaac2);
    border: 1px solid #819492;
    margin-right: 8px;
    color: whitesmoke;
    padding: 0 8px;
    border-radius: 5px;
    margin-bottom: 8px;
}
.logOut:hover{
    background-image: linear-gradient(#4e7e61,#264869);
}
Nav a{
    text-decoration: none;
}
/* Nav a:hover{
   color: turquoise;
} */